[project]
	description = Handling bolt.cm, adding features & tests
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Decebal Dobrica (decebal)
[access "refs/for/refs/*"]
	read = group user/Decebal Dobrica (decebal)
	push = group user/Decebal Dobrica (decebal)
	label-Code-Review = -2..+2 group user/Decebal Dobrica (decebal)
	label-Verified = -1..+1 group user/Decebal Dobrica (decebal)
	rebase = group user/Decebal Dobrica (decebal)
	removeReviewer = group user/Decebal Dobrica (decebal)
	submit = group user/Decebal Dobrica (decebal)
[access "refs/heads/*"]
	read = group user/Decebal Dobrica (decebal)
	create = group user/Decebal Dobrica (decebal)
	push = +force group user/Decebal Dobrica (decebal)
	pushMerge = group user/Decebal Dobrica (decebal)
[access "refs/tags/*"]
	push = +force group user/Decebal Dobrica (decebal)
	pushTag = group user/Decebal Dobrica (decebal)
	pushSignedTag = group user/Decebal Dobrica (decebal)
