.header-navbar .navbar-brand a{
	text-align: center;
	text-decoration: none;
}
.header-navbar .navbar-brand a span.logo{
	display: block;
	vertical-align: middle;
	padding: 15px;
}
body.scrolled .header-navbar .navbar-brand a{
	width: 300px;
}
body.scrolled .header-navbar .navbar-brand {
	width: 300px;
}
