
<!-- Footer -->

</div><!--#main.container-->

<footer id="footer" class="footer-area">
    <div class="footer-top container">
        <div class="row">
            <div class="widget col-xs-6 col-sm-2">

                <h4 class="widget-title">Information</h4>

                <ul class="entries links links">
                    {{ menu('main', '_sub_menu.twig') }}
                </ul>

            </div><!--/.col-3-->

            <div class="clearfix visible-xs"></div>

            <div class="widget col-xs-6 col-sm-2">
                {{ menu('main', '_footer_follow.twig') }}
            </div><!--/.col-3-->

            <div class="widget col-xs-12 col-sm-4">

                <h4 class="widget-title">Subscribe</h4>

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="subscribeEmail" class="col-lg-2 control-label">EMAIL</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="subscribeEmail" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">RSS</label>
                        <div class="col-lg-10">
                            <p class="form-control-static">
                                <a href=""><i class="icon-rss-sign"></i> Posts</a> &nbsp; &nbsp;
                                <a href=""><i class="icon-rss-sign"></i> Comments</a>
                            </p>
                        </div>
                    </div>
                </form>

            </div><!--/.col-3-->
            
        </div>
    </div>
</footer>

<!-- End Footer -->


</body>
</html>
