
<!-- Footer -->

</div><!--#main.container-->

<footer id="footer" class="footer-area">
    <div class="footer-top container">
        <div class="row">
            <div class="widget col-xs-6 col-sm-2">

                <h4 class="widget-title">Information</h4>

                <ul class="entries links links">
                    {{ menu('main', '_sub_menu.twig') }}
                </ul>

            </div><!--/.col-3-->

            <div class="widget col-xs-6 col-sm-2">
                {{ menu('main', '_footer_follow.twig') }}
            </div><!--/.col-3-->

        </div>
    </div>
</footer>


<footer class="row">
    <div class="twelve columns">
        <hr />
        <div class="row">
            <div class="six columns">
                <p>{{ __("This website is <a href='%url%' target='_blank' title='Sophisticated, lightweight & simple CMS'>Built with Bolt</a>.",{'%url%':'http://bolt.cm'}) }}
                </p>
            </div>
            <div class="six columns">
                <ul class="link-list right">
                    {{ menu() }}
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- End Footer -->


</body>
</html>
